bind 0.0.0.0
protected-mode yes
port 6379
requirepass {{ ldk_redis_effective_password }}
appendonly {{ ldk_redis_appendonly }}
maxmemory {{ ldk_redis_maxmemory }}
maxmemory-policy {{ ldk_redis_maxmemory_policy }}
dir /data

